/* || Imports || */
@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");

/* || Resets || */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: fit-content;
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
  position: relative;
}

/* || Variables || */
:root {
  --darkBlack: rgb(10, 10, 10);
  --blackColor: rgb(40, 40, 40);
  --lighterBlack: rgb(100, 100, 100);
  --whiteColor: white;
  --lightGray: rgb(230, 230, 230);
  --index: calc(1vw + 1vh);
}

/* || Main || */
/*********** || Navigation Section || ***********/
#openNavIcon {
  width: 30px;
  position: fixed;
  top: 5px;
  right: 10px;
  z-index: 25;
  cursor: pointer;
}

.openNavbar {
  transform-origin: center;
  animation: 0.4s ease-in-out openNavbarEffect forwards;
}

.closeNavbar {
  transform-origin: center;
  animation: 0.5s ease-in-out closeNavbarEffect forwards;
}

@keyframes openNavbarEffect {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes closeNavbarEffect {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#navBar {
  height: 40px;
  font-size: 20px;
  letter-spacing: 1.2px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

#navBar::after,
#navBar::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: -100%;
  z-index: -1;
}

#navBar::after {
  background-color: var(--darkBlack);
}

#navBar::before {
  background-color: var(--blackColor);
}

.moveNavLeft::before {
  animation: 0.4s cubic-bezier(0, 0.1, 0.12, 0.99) forwards moveLeft;
}

.moveNavLeft::after {
  animation: 0.4s cubic-bezier(0, 0.1, 0.12, 0.99) 0.2s forwards moveLeft;
}

.moveNavRight::before {
  animation: 0.4s cubic-bezier(0, 0.1, 0.12, 0.99) 0.2s backwards moveRight;
}

.moveNavRight::after {
  animation: 0.4s cubic-bezier(0, 0.1, 0.12, 0.99) forwards moveRight;
}

@keyframes moveLeft {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}

@keyframes moveRight {
  0% {
    right: 0;
  }
  100% {
    right: -100%;
  }
}

#navBar a:any-link {
  transform: scale(0);
  opacity: 0;
  text-decoration: none;
  color: var(--whiteColor);
  transition: all 0.2s;
}

.displayAnchors {
  animation: 0.2s linear forwards displayAnchors;
}

.fadeAnchors {
  animation: 0.1s linear forwards fadeAnchors;
}

@keyframes displayAnchors {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeAnchors {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

#navBar a:hover {
  color: var(--lightGray);
  scale: 1.05;
}

/*********** || Personal Info Section || ***********/
#nameSec {
  min-height: 100vh;
  background-color: var(--whiteColor);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.nameSec_name,
.nameSec_job {
  position: relative;
}

#nameSec h1 {
  font-size: calc(var(--index) * 4);
  text-align: center;
  font-family: "Marck Script", "cursive";
  color: var(--darkBlack);
  transform: translateY(110px);
  animation: 1s cubic-bezier(0, 0.1, 0.12, 0.99) forwards running nameUp;
}

#nameSec p {
  /* font-size: 2.5rem; */
  font-size: calc(var(--index) * 2);
  text-align: center;
  color: var(--darkBlack);
  transform: translateY(110px);
  animation: 1s cubic-bezier(0, 0.1, 0.12, 0.99) 0.5s forwards running nameUp;
}

@keyframes nameUp {
  0% {
    transform: translateY(110px);
  }
  100% {
    transform: translateY(0px);
  }
}

.name_whiteSpace,
.job_whiteSpace {
  width: 100%;
  height: 110px;
  background-color: rgba(255, 255, 255);
  position: absolute;
  top: 105%;
  animation: 1s cubic-bezier(0, 0.1, 0.12, 0.99) forwards running spaceUp;
}

/*********** About Me Section ***********/
#aboutmeSec {
  width: 100%;
  height: 40vh;
  background-color: var(--whiteColor);
  overflow: hidden;
  position: relative;
  z-index: 0;
}

#aboutmeSec p:first-of-type {
  width: 100%;
  padding: 6vh 5vw 0 15vw;
  color: var(--darkBlack);
  font-size: clamp(1rem, calc(var(--index) * 1.6), 2rem);
  letter-spacing: calc(var(--index) / 35);
  font-weight: 100;
}

#aboutmeSec p:last-of-type {
  color: var(--lightGray);
  font-size: clamp(3rem, calc(var(--index) * 9), 12rem);
  position: absolute;
  top: 5%;
  left: calc(var(--index) * -5.5);
  transition: transform 0.5s ease-out 0s;
  z-index: -1;
}

/*********** || Mobile Portfolio Section || ***********/
#mobilePort {
  margin: calc(15vh + 15vw) 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: calc(10vh + 10vw);
}

#mobilePort > div {
  width: 100%;
  padding: 5vh 5vw;
  border-bottom: 1px solid var(--lightGray);
}

.mobilePort__description {
  margin-bottom: 10vh;
  color: var(--darkBlack);
}

.mobilePort__orderNumber {
  margin-bottom: 5vh;
  font-size: clamp(1rem, 1rem + 1vw, 1.3rem);
  font-weight: 600;
}

.mobilePort__projectName {
  font-weight: 600;
  margin-bottom: 1vh;
  font-size: clamp(2rem, 2rem + 1vw, 2.75rem);
}

.mobilePort__usedTeches {
  margin-bottom: 1vh;
  font-size: clamp(1.2rem, 1.2rem + 1vw, 1.5rem);
}

.mobilePort__projectExpl {
  font-size: 1rem;
  margin-bottom: 1vh;
  line-height: 1.25;
}

.mobilePort__BtnsDiv {
  margin-top: 2vh;
  margin-right: 2vw;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1vh;
}

.mobilePort__webBtn,
.mobilePort__codeBtn {
  padding: 1vh 2vw;
  background-color: transparent;
  border: 1px solid var(--darkBlack);
  border-radius: 2px;
  position: relative;
  cursor: pointer;
}

.mobilePort__webBtn::before,
.mobilePort__codeBtn::before {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.4s cubic-bezier(0.694, 0.048, 0.335, 1);
}

.mobilePort__webBtn:is(:hover, :focus)::before,
.mobilePort__codeBtn:is(:hover, :focus)::before {
  width: 100%;
  left: 0;
}

.mobilePort__webA:any-link,
.mobilePort__codeA:any-link {
  font-size: 1rem;
  text-decoration: none;
  color: var(--darkBlack);
}

.mobilePort__photos {
  display: grid;
  place-content: center;
}

.mobilePort__photos img {
  width: 90vw;
}

/*********** || Desktop Portfolio Section || ***********/
/*********** Portfolio Text Section ***********/
#desktopPort {
  display: flex;
  flex-flow: row nowrap;
}

#portfolio_desc {
  height: 100vh;
  width: 50%;
  padding: calc(var(--index) * 1.7);
  padding-top: calc(var(--index) * 2.7) !important;
  font-size: calc(var(--index) * 1.2);
  color: var(--blackColor);
  display: none;
  flex-flow: column nowrap;
  align-items: flex-start;
  align-items: flex-start;
  gap: 10px;
  position: fixed;
  top: 0;
  left: 0;
}

#portfolio_OrderNum {
  font-weight: 600;
}

#portfolio_ProjName {
  margin-top: var(--index);
  padding-left: var(--index);
  font-size: calc(var(--index) * 3);
  font-weight: 600;
}

#portfolio_UsedTech,
#portfolio_ProjDesc {
  margin-top: calc(var(--index) / 2);
  padding-left: var(--index);
  letter-spacing: calc(var(--index) * 0.04);
  font-size: calc(var(--index) * 1.6);
}

#portfolio_ProjDesc {
  font-size: calc(var(--index) * 1.1) !important;
}

#portfolio_BtnsDiv {
  margin-top: calc(var(--index) / 2);
  padding-left: var(--index);
  position: relative;
  src: url("images/webicon.png");
}

#webBtn,
#codeBtn {
  display: block;
  border: none;
  background-color: transparent;
  font-size: calc(var(--index) * 1.1);
  letter-spacing: calc(var(--index) * 0.04);
  cursor: pointer;
  position: relative;
}

#codeBtn {
  margin-top: calc(var(--index) / 1.5);
}

#webBtn::before,
#webBtn::after,
#codeBtn::before,
#codeBtn::after {
  content: "";
  width: 0;
  height: calc(var(--index) * 0.15);
  position: absolute;
  bottom: calc(var(--index) * -0.099);
  right: 0;
  left: auto;
  z-index: 2;
}

#webBtn::before,
#codeBtn::before {
  background-color: black;
  transition: all 0.4s cubic-bezier(0.694, 0.048, 0.335, 1) 0.2s;
}

#webBtn::after,
#codeBtn::after {
  background-color: var(--lighterBlack);
  transition: all 0.4s cubic-bezier(0.694, 0.048, 0.335, 1);
}

#webBtn:hover::before,
#codeBtn:hover::before {
  width: 100%;
  left: 0;
}

#webBtn:hover::after,
#codeBtn:hover::after {
  width: 100%;
  left: 0;
}

#webIcon,
#codeIcon {
  visibility: hidden;
}

#webBtn img {
  width: calc(var(--index) * 1.1);
}

#webBtn a:any-link,
#codeBtn a:any-link {
  margin-left: calc(var(--index) * 0.74);
  text-decoration: none;
  transition: all 0.2s;
}

#webBtn a:hover,
#codeBtn a:hover {
  color: var(--lighterBlack) !important;
}

.hoverEffect,
.an_BlackEffect {
  color: white;
  position: relative;
  animation: 0.0001s linear 0.5s forwards running colorChange;
}

@keyframes colorChange {
  50% {
    color: white;
  }
  100% {
    color: var(--blackColor);
  }
}

.hoverEffect::after {
  content: "";
  width: 0;
  height: 100%;
  background-color: var(--blackColor);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  animation: 1s cubic-bezier(1, 0, 0, 1) forwards running blackEffect;
}

@keyframes blackEffect {
  0% {
    left: 0;
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    left: unset;
    width: 0;
  }
}

/*********** Portfolio Photos Section ***********/
.portfolio_photos {
  flex-basis: 50%;
  margin-left: 50%;
}

.portfolio_photosDiv {
  margin-top: 40vh;
  height: 100vh;
  position: relative;
}

/* React To Do App */
.reactToDoApp img,
.recipeApp img,
.businessWeb img,
.weatherApp img,
.notesApp img,
.blackjackGame img,
.invadersGame img,
.whacamoleGame img,
.memoryGame img,
.froggerGame img,
.tipCalculator img,
.registrationPage img {
  position: absolute;
  transition: all 0.5s ease-out 0s;
}

.reactToDoApp img:nth-child(1) {
  width: 41vw;
  top: 0;
  left: calc(var(--index) * -2);
  z-index: 4;
}

.reactToDoApp img:nth-child(2) {
  width: 11vw;
  top: calc(var(--index) * -1);
  right: 35px;
  z-index: 3;
}

.reactToDoApp img:nth-child(3) {
  width: 37vw;
  left: calc(var(--index) * -3.5);
  top: 30vw;
  z-index: 2;
}

.reactToDoApp img:nth-child(4) {
  width: 12vw;
  right: calc(var(--index) * 3);
  top: 32vw;
  z-index: 1;
}

/* Recipe App */
.recipeApp img:nth-child(1) {
  width: 41vw;
  top: 0;
  left: calc(var(--index) * -3);
  z-index: 4;
}

.recipeApp img:nth-child(2) {
  width: 11vw;
  top: var(--index);
  right: 35px;
  z-index: 3;
}

.recipeApp img:nth-child(3) {
  width: 32.6vw;
  right: 20px;
  top: 30vw;
  z-index: 2;
}

.recipeApp img:nth-child(4) {
  width: 15vw;
  left: 0px;
  top: 27vw;
  z-index: 1;
}

/* business Website */
.businessWeb img:nth-child(1) {
  width: 41vw;
  top: 0;
  left: calc(var(--index) * -4);
  z-index: 4;
}

.businessWeb img:nth-child(2) {
  width: 11vw;
  top: var(--index);
  right: 40px;
  z-index: 3;
}

.businessWeb img:nth-child(3) {
  width: 9vw;
  right: 40px;
  top: 30vw;
  z-index: 2;
}

.businessWeb img:nth-child(4) {
  width: 37vw;
  left: 0px;
  top: 27vw;
  z-index: 1;
}

/* WeatherApp Website */
.weatherApp img:nth-child(1) {
  width: 39vw;
  top: 0;
  right: 10px;
  z-index: 4;
}

.weatherApp img:nth-child(2) {
  width: 11vw;
  top: var(--index);
  left: calc(var(--index) * -1.5);
  z-index: 3;
}

.weatherApp img:nth-child(3) {
  width: 33vw;
  right: 20px;
  top: 28vw;
  z-index: 2;
}

.weatherApp img:nth-child(4) {
  width: 11vw;
  left: 0px;
  top: 25vw;
  z-index: 1;
}

/* NotesApp Website */
.notesApp img:nth-child(1) {
  width: 40vw;
  top: 0;
  right: calc(var(--index) / 2);
  z-index: 4;
}

.notesApp img:nth-child(2) {
  width: 11vw;
  top: var(--index);
  left: calc(var(--index) * -1.5);
  z-index: 3;
}

.notesApp img:nth-child(3) {
  width: 33vw;
  left: calc(var(--index) * -2.5);
  top: 30vw;
  z-index: 2;
}

.notesApp img:nth-child(4) {
  width: 11vw;
  right: calc(var(--index) * 3);
  top: 27vw;
  z-index: 1;
}

/* BlackjackGame Website */
.blackjackGame img:nth-child(1) {
  width: 38vw;
  top: 10vw;
  right: var(--index);
  z-index: 4;
}

.blackjackGame img:nth-child(2) {
  width: 11vw;
  top: var(--index);
  left: 0px;
  z-index: 3;
}

.blackjackGame img:nth-child(3) {
  width: 33vw;
  left: 0;
  top: 35vw;
  z-index: 2;
}

/* InvadersGame Website */
.invadersGame img:nth-child(1) {
  width: 38vw;
  top: 5vw;
  right: 0;
  z-index: 4;
}

.invadersGame img:nth-child(2) {
  width: 15vw;
  top: 0;
  left: -20px;
  z-index: 3;
}

.invadersGame img:nth-child(3) {
  width: 41vw;
  left: 0px;
  top: 30vw;
  z-index: 2;
}

/* InvadersGame Website */
.whacamoleGame img:nth-child(1) {
  width: 41vw;
  top: calc(var(--index) / 2);
  left: calc(var(--index) * -2.5);
  z-index: 4;
}

.whacamoleGame img:nth-child(2) {
  width: 11vw;
  top: calc(var(--index) * -1);
  right: 40px;
  z-index: 3;
}

.whacamoleGame img:nth-child(3) {
  width: 33vw;
  left: calc(var(--index) * -2.5);
  top: 30vw;
  z-index: 2;
}

.whacamoleGame img:nth-child(4) {
  width: 13vw;
  right: calc(var(--index) * 2.5);
  top: 27vw;
  z-index: 1;
}

/* MemoryGame Website */
.memoryGame img:nth-child(1) {
  width: 38vw;
  top: 0;
  right: calc(var(--index) / 2);
  z-index: 4;
}

.memoryGame img:nth-child(2) {
  width: 11vw;
  top: var(--index);
  left: calc(var(--index) / -2);
  z-index: 3;
}

.memoryGame img:nth-child(3) {
  width: 35vw;
  left: calc(var(--index) * -1.5);
  top: 30vw;
  z-index: 2;
}

.memoryGame img:nth-child(4) {
  width: 11vw;
  right: calc(var(--index) * 2.5);
  top: 30vw;
  z-index: 1;
}

/* FroggerGame Website */
.froggerGame img:nth-child(1) {
  width: 30vw;
  top: 10vw;
  right: calc(var(--index));
  z-index: 4;
}

.froggerGame img:nth-child(2) {
  width: 18vw;
  top: calc(var(--index) * -2.5);
  left: 0px;
  z-index: 3;
}

.froggerGame img:nth-child(3) {
  width: 43vw;
  right: var(--index);
  top: 30vw;
  z-index: 2;
}

/* TipCalculator Website */
.tipCalculator img:nth-child(1) {
  width: 46vw;
  top: 0;
  left: calc(var(--index) * 1.5);
  z-index: 4;
}

.tipCalculator img:nth-child(2) {
  width: 15vw;
  top: 28vw;
  left: 18vw;
  z-index: 3;
}

/* RegistrationPage Website */
.registrationPage img:nth-child(1) {
  width: 15vw;
  left: 0px;
  top: 10vw;
  z-index: 4;
}

.registrationPage img:nth-child(2) {
  width: 43vw;
  top: 0;
  right: var(--index);
  z-index: 3;
}

/*********** || Skills Section || ***********/
#skillSec {
  width: 100%;
  margin: 60vh 0 50vh;
  padding: var(--index);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

#skillText {
  color: var(--lightGray);
  font-size: calc(var(--index) * 9.5);
  text-align: center;
  vertical-align: middle;
  z-index: -1;
  position: absolute;
  right: calc(var(--index) * -4);
  bottom: 0;
  transition: transform 0.5s ease-out 0s;
}

.skills {
  width: 100%;
  padding: 0 calc(var(--index) * 2.5);
  color: var(--darkBlack);
  font-size: calc(var(--index) * 2.4);
  letter-spacing: calc(var(--index) * 0.025);
  font-weight: 100;
  text-align: left;
  line-height: calc(var(--index) * 3.2);
}

.rightSkills {
  text-align: right !important;
}

/*********** || Contacts Section || ***********/
#contacts {
  width: 100%;
  height: 50vh;
  margin: 50vh 0 25vh;
  padding: var(--index);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

#contactText {
  padding-top: var(--index);
  color: var(--lightGray);
  font-size: calc(var(--index) * 9.5);
  text-align: center;
  vertical-align: middle;
  z-index: -1;
  position: absolute;
  left: calc(var(--index) * -10);
  top: 0;
  bottom: 0;
  transition: transform 0.5s ease-out 0s;
}

.contactIcons {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.contactIcons img {
  width: calc(var(--index) * 3.5);
}

.icons {
  transition: all 0.15s;
}

.icons:hover {
  scale: 1.1;
}

/****************************************************************/
/* || Media Queries || */

@media (max-width: 900px) {
  #aboutmeSec {
    height: auto;
    overflow: visible;
    display: flex;
    flex-flow: column-reverse;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 1vh;
  }
  #aboutmeSec p:first-of-type {
    padding: 0 50px;
  }
  #aboutmeSec p:last-of-type {
    width: 100%;
    text-align: left;
    position: static;
    padding-left: 50px;
    font-size: clamp(2rem, 2rem + 5vw, 5rem);
    text-decoration: underline;
  }
  #skillSec {
    margin: 50vh 0;
    flex-flow: column nowrap;
    overflow: hidden;
    gap: 10px;
  }
  #skillText {
    width: 100%;
    padding-right: 5vw;
    color: var(--lightGray);
    font-size: clamp(2rem, 2rem + 5vw, 10rem);
    text-align: right;
    text-decoration: underline;
    z-index: 0;
    position: static;
  }
  #contacts {
    height: auto;
    margin: 20vh 0;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    gap: 20px;
    overflow: visible;
  }
  #contactText {
    width: 100%;
    padding: 0 2vw;
    font-size: clamp(2rem, 2rem + 5vw, 10rem);
    text-align: center;
    text-decoration: underline;
    z-index: 0;
    position: static;
  }
}

@media (max-width: 700px) {
  #openNavIcon {
    width: 25px;
  }
  #navBar {
    height: auto;
    padding: 2vh 0;
    flex-flow: column;
    gap: 1vh;
  }
  #navBar::after,
  #navBar::before {
    top: -100%;
    right: 0;
  }

  @keyframes moveLeft {
    0% {
      top: -100%;
    }
    100% {
      top: 0;
    }
  }

  @keyframes moveRight {
    0% {
      top: 0;
    }
    100% {
      top: -100%;
    }
  }
}

@media (max-width: 500px) {
  #openNavIcon {
    right: 5px;
  }
  #navBar {
    font-size: 18px;
  }
  #mobilePort > div {
    padding-right: 30px;
  }
  #aboutmeSec p:first-of-type {
    padding: 0 30px 0 20px;
  }
  #aboutmeSec p:last-of-type {
    padding-left: 20px;
  }
}

@media (max-width: 300px) {
  .contactIcons {
    gap: 10vw;
  }
  #contactText,
  #skillText,
  #aboutmeSec p:last-of-type {
    font-size: 2rem;
  }
  #skillText {
    padding-right: 20px;
  }
}
